@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #27595A;
  --foreground: #E3F6FE;
  --strong-text: #E3F6FE; /* Use kebab-case consistently */
  --gradient-primary: #E3F6FE;
  --gradient-secondary: #B0C3BF;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FFEFDF;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
